<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::headfragment}"></head>
<body>
<header th:replace="~{fragments/headerfooter::navbar}"></header>
<main class="container py-4">
    <h1 class="text-center mb-5">Nieuw veld toevoegen om te gebruiken</h1>
    <form th:action="@{/admin/newfield}" th:object="${field}" method="post">
        <div class="row w-50 mx-auto">
            <div class="col-12">
                <label for="fieldName" class="form-label fw-bold">Veld naam:</label>
                <input id="fieldName" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
            </div>
            <div class="col-12">
                <label for="isOutside" class="form-label fw-bold">Locatie: </label>
                <div id="isOutside" class="btn-group w-100" role="group">
                    <input type="radio" class="btn-check" th:field="*{outside}" id="isOutsideTrue" value="true">
                    <label class="btn btn-outline-dark" for="isOutsideTrue">Buiten</label>

                    <input type="radio" class="btn-check" th:field="*{outside}" id="isOutsideFalse" value="false">
                    <label class="btn btn-outline-dark" for="isOutsideFalse">Binnen</label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5 pt-3 border-top">
                <a class="btn btn-danger px-4" th:href="@{/admin/fields}">Annuleer</a>
                <button class="btn btn-primary px-5 fw-bold shadow-sm" type="submit">Maak aan</button>
            </div>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/headerfooter::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>