<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::headfragment}"></head>
<body class="bg-dark bg-opacity-25">
<header th:replace="~{fragments/headerfooter::navbar}"></header>

<main class="container py-4">
    <h1>Uw notificaties</h1>
    <div th:each="notification : ${player.notifications}" th:object="${notification}">
        <h3 th:text="*{title}"></h3>
        <p th:text="*{dateTime}"></p>
        <p th:text="*{message}"></p>
    </div>
</main>
<footer th:replace="~{fragments/headerfooter::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>