<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::headfragment}"></head>
<body>
<header th:replace="~{fragments/headerfooter::navbar}"></header>

<main class="container py-4" th:object="${padelDay}">
    <!--There is a padelday but there is no plan available yet:-->
    <div th:if="${padelDay}" th:unless="${hasPlan}">
        <h2 style="font-size: 2.5rem" class="mb-4 text-center info-title">Algemene informatie over de volgende
            padeldag:</h2>
        <div class="row d-flex mb-3">
            <div class="col-12 d-flex justify-content-center" sec:authorize="hasAuthority('ADMIN')">
                <a style="font-size: 1.3rem" class="btn btn-primary px-3 fw-bold shadow-sm admin-btn"
                   th:href="@{|/admin/editpadelday/*{id}|}">⚙️Padeldag aanpassen</a>
            </div>
        </div>

        <div style="font-size: 1.5rem" class="info-padelday col-12 col-md-6 mx-md-auto">
            <div class="mb-3 mb-md-5 bg-dark text-light rounded border border-dark p-2 text-center"
                 th:text="|Startuur: ${#temporals.format(padelDay.date, 'HH:mm')}|"></div>
            <div class="mb-3 mb-md-5  bg-dark text-light rounded border border-dark p-2 text-center"
                 th:text="|Dag: ${#temporals.format(padelDay.date, 'EEEE', #locale.of('nl', 'NL'))} ${#temporals.format(padelDay.date, 'dd/MM/yyyy')}|"></div>
            <div class="mb-3 mb-md-5  bg-dark text-light rounded border border-dark p-2 text-center"
                 th:text="|Velden: ${#strings.listJoin(padelDay.fields.![name], ', ')} (${padelDay.fields.size()*4} plaatsen)|"></div>
        </div>

        <form class="col-12 d-flex justify-content-center my-3 my-md-5" th:action="@{/admin/plan}" th:if="${!hasPlan}"
              method="post" sec:authorize="hasAuthority('ADMIN')">
            <input type="hidden" name="id" th:value="${padelDay.id}"/>
            <button style="font-size: 1.1rem" class="btn btn-pma px-3 fw-bold shadow-sm admin-btn" type="submit">Maak
                planning aan
            </button>
        </form>

        <div class="mt-4 mx-auto inline" sec:authorize="hasAuthority('ADMIN')">
            <div class="mb-5">
                <h3 style="font-size: 2rem" class="border-dark border-bottom text-center list-title pb-2">
                    Inschrijvingen:</h3>
                <div class="d-flex flex-wrap justify-content-center mt-3" style="font-size: 1.3rem">
                    <div th:each="p : ${padelDay.signedUpPlayers}"
                         class="px-2  list-players" style="flex: 0 0 25%;" th:text="|• ${p.name}|">
                    </div>
                </div>
                <div class="mt-3 fs-5 text-center"
                     th:text="${padelDay.signedUpPlayers.size()==0?'Nog geen inschrijvingen':''}"></div>
            </div>

            <div class="mb-5">
                <h3 style="font-size: 2rem" class="border-dark border-bottom text-center list-title pb-2">
                    Reservelijst:
                </h3>
                <div style="font-size: 1.3rem" class="mt-3 text-center list-players"
                     th:each="p : ${padelDay.reservedPlayers}">
                    <div th:text="|• ${p.name}|"></div>
                </div>
                <div class="mt-3 fs-5 text-center"
                     th:text="${padelDay.reservedPlayers.size()==0?'Reservelijst is leeg':''}"></div>
            </div>
        </div>

        <div class="d-flex row justify-content-center flex-wrap g-2 mt-4 mt-md-1">
            <form th:action="@{/user/signup}" method="post" class="col-6 d-flex justify-content-end">
                <input type="hidden" name="id" th:value="${padelDay.id}"/>
                <button class="btn btn-pma px-2 insch fw-bold shadow-sm text-nowrap admin-btn" style="font-size: 1.1rem"
                        th:disabled="${isSignedUp}" type="submit">
                    Ik wil me inschrijven
                </button>
            </form>

            <form th:action="@{/user/signout}" method="post" class="col-6 d-flex justify-content-start">
                <input type="hidden" name="id" th:value="${padelDay.id}"/>
                <button class="btn btn-pma px-2 insch fw-bold shadow-sm text-nowrap admin-btn" style="font-size: 1.1rem"
                        th:disabled="${!isSignedUp}" type="submit">
                    Ik wil me uitschrijven
                </button>
            </form>
        </div>
    </div>

    <!--There is a padelday and there is a plan available:-->
    <div th:if="${hasPlan}">

        <h4 class="fs-2 p-2 p-md-5 text-center text-white bg-dark mx-0 my-1 m-md-5 rounded msg"
            th:text="|De planning voor deze padeldag is al opgesteld ${isSignedUp ? ', u bent ingeschreven' : '. Nog ' + (4 - padelDay.reservedPlayers.size()) + ' speler(s) nodig om de volgende groep te voltooien'}.|"></h4>

        <div class="d-flex row justify-content-center flex-wrap g-2 my-4 mt-md-1">
            <div>
                <h3 class="text-center">Je kan niet meer in- of uitschrijven, contacteer een admin bij problemen</h3>
            </div>
            <form th:action="@{/user/payed}" method="post" class="col-12 d-flex justify-content-center mt-4">
                <input type="hidden" name="id" th:value="${padelDay.id}"/>
                <button class="btn btn-pma px-2 insch fw-bold shadow-sm text-nowrap admin-btn" style="font-size: 1.1rem"
                        th:disabled="${padelDay.reservedPlayers.contains(currentUser) || hasPayed}" type="submit"
                        th:text="${hasPayed ? '✅ Betaald' : 'Ik heb betaald'}">
                </button>
            </form>
            <h3 class="text-center" th:if="${padelDay.reservedPlayers.contains(currentUser)}">Je staat op de reservelijst, je hoeft niet te betalen.</h3>
        </div>

        <div class="d-flex justify-content-center gap-4 my-3 my-md-5" sec:authorize="hasAuthority('ADMIN')">
            <a style="font-size: 1.3rem" class="btn btn-primary px-3 fw-bold shadow-sm admin-btn" th:href="@{|/admin/payments/*{id}|}">🏦Bekijk betalingen</a>
            <form th:action="@{|/admin/publishplan/*{id}|}" method="post" th:unless="${padelDay.published}">
                <button style="font-size: 1.3rem" class="btn btn-success px-3 fw-bold shadow-sm admin-btn" type="submit">✅ Publiceer planning</button>
            </form>
            <span th:if="${padelDay.published}" style="font-size: 1.3rem" class="badge bg-success d-flex align-items-center">✅ Planning gepubliceerd</span>
        </div>

        <!--        VIEW FOR USERS-->
        <div th:replace="~{fragments/plantable::plantablefragment}" sec:authorize="hasAuthority('USER')"></div>

        <!--        VIEW FOR ADMIN TO EDIT-->
        <div sec:authorize="hasAuthority('ADMIN')">

            <div class="row justify-content-center">
                <div th:if="${error}"
                     class="alert alert-danger alert-dismissible fade show col-11 col-md-5" role="alert">
                    <strong>Niet opgeslagen!</strong> <span th:text="${error}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:if="${success}"
                     class="alert alert-success alert-dismissible fade show col-11 col-md-5" role="alert">
                    <span th:text="${success}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:if="${info}"
                     class="alert alert-info alert-dismissible fade show col-11 col-md-5" role="alert">
                    <span th:text="${info}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="row border border-black">
                <div class="col-12 g-0 m-0 border bg-dark text-light p-2 fw-bold"
                     th:text="${#temporals.format(padelDay.date, 'dd/MM/yyyy')}"></div>
            </div>
            <div th:each="field : ${padelDay.fields}" class="row border border-end-0 border-black">
                <div class="col-1 d-flex align-items-center justify-content-center fs-2 fw-bold veld"
                     th:text="${field.name}"></div>

                <div class="row col-11 m-0 g-0 flex-nowrap">
                    <div class="col border border-bottom-0 border-top-0 border-end-0 m-0 g-0"
                         th:each="match, i : ${padelDay.matches}" th:if="${match.field == field}">
                        <div class="col-12 m-0 g-0">
                            <h6 class="fw-bold p-3 bg-dark bg-opacity-75 text-light m-0 g-0"
                                th:text="|Matches van ${match.getTimeSlot()}|">
                            </h6>
                        </div>

                        <form th:each="team, i : ${match.getTeams()}" th:object="${team}" th:action="@{/admin/planEdit}"
                              method="post"
                              class="box-shadow m-0 border border-dark border-bottom-0 bg-dark bg-opacity-10">
                            <input type="hidden" name="teamId" th:value="${team.id}"/>
                            <input type="hidden" name="padelDayId" th:value="${padelDay.id}"/>
                            <!-- Change the inner loop to use a fixed sequence (0 to 1 for two players) -->
                            <div class="m-1" th:each="index : ${#numbers.sequence(0, 1)}">
                                <select class="form-select my-3" name="playerIds"
                                        th:style="|background-color: ${i.index==0 ? '#19466e' : '#f6f45a'}; color: ${i.index==0 ? '#FFFFFF' : '#000000'};|">

                                    <!-- Logic to check if a player exists at this index -->
                                    <option th:each="player : ${padelDay.getSignedUpPlayers()}"
                                            th:value="${player.getId()}"
                                            th:text="|${player.getName()} (P-${player.pRanking})|"
                                            th:selected="${team.getPlayers().size() > index && team.getPlayers().get(index).getId() == player.getId()}">
                                    </option>

                                    <!-- The empty option -->
                                    <option th:value="0" th:selected="${team.getPlayers().size() <= index}">Leeg
                                    </option>
                                </select>
                            </div>

                            <button class="btn btn-pma m-2 fw-bold shadow-sm" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-4">
            <h3 class="border-dark border-bottom text-center">Reservelijst: </h3>
            <div class="mt-3 text-center" th:each="p : ${padelDay.reservedPlayers}">
                <div th:text="|-${p.name}|"></div>
            </div>
            <div class="mt-3 fs-5 text-center"
                 th:text="${padelDay.reservedPlayers.size()==0?'Reservelijst is leeg':''}"></div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/headerfooter::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>