<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::headfragment}"></head>
<body class="bg-dark bg-opacity-25">
<header th:replace="~{fragments/headerfooter::navbar}"></header>

<main class="container py-4" th:object="${padelDay}">
    <h1 class="text-center mb-5">Schrijf je in voor een padeldag</h1>

    <!--als er geen padeldag beschikbaar is:-->
    <div class="bg-warning bg-opacity-50" th:unless="${padelDay}">
        <p class="fs-2 text-center text-danger">Er is momenteel geen padeldag gepland.</p>
    </div>

    <!--als er een padeldag beschikbaar is maar nog geen planning is gemaakt:-->
    <div th:if="${padelDay}" th:unless="${hasPlan}">
        <div class="row">
            <div class="col-6">
                <div th:text="|Startuur: ${#temporals.format(padelDay.date, 'hh:mm')}|"></div>
                <div th:text="|Dag: ${padelDay.date.getDayOfWeek()} ${#temporals.format(padelDay.date, 'dd/MM/yyyy')}|"></div>
                <div th:text="|Velden: ${#strings.listJoin(padelDay.fields.![name], ', ')} (${padelDay.fields.size()*4} plaatsen)|"></div>

            </div>
            <div class="col-6">
                <div class="mb-5">
                    <h3>Inschrijvingen:</h3>
                    <div class="mt-3" th:each="p : ${padelDay.signedUpPlayers}">
                        <div  th:text="|-${p.name}|"></div>
                    </div>
                    <div class="mt-3 fs-5" th:text="${padelDay.signedUpPlayers.size()==0?'Nog geen inschrijvingen':''}"></div>
                </div>

                <div class="mb-4">
                    <h3>Reservelijst: </h3>
                    <div class="mt-3" th:each="p : ${padelDay.reservedPlayers}">
                        <div th:text="|-${p.name}|"></div>
                    </div>
                    <div class="mt-3 fs-5" th:text="${padelDay.reservedPlayers.size()==0?'Reservelijst is leeg':''}"></div>
                </div>
                <form th:action="@{/user/signup}" method="post">
                    <input type="hidden" name="id" th:value="${padelDay.id}" />
                    <button class="btn btn-primary px-5 fw-bold shadow-sm" th:disabled="${isSignedUp}" type="submit">Ik wil me inschrijven</button>
                </form>
            </div>
        </div>
    </div>

    <!--als er een padeldag beschikbaar is en een planning is aangemaakt:-->
    <div th:if="${hasPlan}">
        <h2 class="text-center mb-5 text-bg-info">De planning voor deze padeldag is al opgesteld, je komt op de reservelijst</h2>
        <div>
            <div class="row g-0 border border-black">
                <div class="col-12 border bg-dark text-light p-2 fw-bold" th:text="${#temporals.format(padelDay.date, 'dd/MM/yyyy')}"></div>
            </div>

            <div class="row g-0 align-items-center bg-light bg-dark text-light border border-black">
                <div class="col-1 border-end text-start fw-bold p-2">Veld</div>
                <div class="col-11">
                    <div class="row g-0">
                        <div class="col-3 border-end  ps-2 fw-bold ">Team</div>
                        <div th:each="timeSlot : ${padelDay.uniqueTimeSlots}"
                             th:class="|col-3 border-end ps-2 fw-bold|"
                             th:text="'Match ' + ${timeSlotStat.count} + ' (' + ${timeSlot} + ')'"></div> <!--th:class="|col-${12 / padelDay.fields.size()} border-end ps-2 fw-bold|"-->
                    </div>
                </div>
            </div>
            <div th:each="field : ${padelDay.fields}" class="border border-black">
                <div class="container-fluid p-0">

                    <div class="row g-0 border-start border-end border-bottom">

                        <div class="col-1 border-end d-flex align-items-center justify-content-center fs-2 fw-bold" th:text="${field.name}"></div>

                        <div class="col-11">

                            <div class="row g-0 border-bottom">

                                <!--team A-->

                                <div th:class="|col-3 fw-bold bg-primary-subtle border-end ps-2 d-flex align-items-center|">Team A</div>

                                <div th:each="match : ${padelDay.matches}" th:class="|col-3 border-end p-2|" th:if="${match.field == field}">
                                    <div th:each="player : ${match.teams[0].players}"
                                         th:text="|${player.name} (${player.pRanking})|"
                                         th:class="|badge rounded-pill text-dark mb-1 d-block|"
                                         style="background-color: #c8f7c5;"></div>
                                </div>
                            </div>

                            <div class="row g-0">

                                <!--team B-->

                                <div class="col-3 fw-bold bg-danger-subtle border-end ps-2 d-flex align-items-center">Team B</div>

                                <div th:each="match : ${padelDay.matches}" class="col-3 border-end p-2" th:if="${match.field == field}">
                                    <div th:each="player : ${match.teams[1].players}"
                                         th:text="|${player.name} (${player.pRanking})|"
                                         th:class="|badge rounded-pill text-dark mb-1 d-block|"
                                         style="background-color: #ffd6d6;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mt-4 border-top border-3 border-dark">Reservelijst: </h2>
            <div th:each="p : ${padelDay.reservedPlayers}">
                <div th:text="|-${p.name}|"></div>
            </div>
            <div th:text="${padelDay.reservedPlayers.size()==0?'Reservelijst is leeg':''}"></div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/headerfooter::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>