<header th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid nav-container">

            <div class="d-flex align-items-center ms-0 p-0 nav-left">
                <a class="navbar-brand logo" th:href="@{/}"></a>
            </div>

            <p style="font-size: 1.5rem" class="ms-1 me-3 mb-0 text-nowrap welcome d-none d-md-inline">
                <span th:if="${currentUser != null}" th:text="|Welkom terug ${currentUser.name}|"></span>

                <span th:if="${currentUser == null}">Welkom op onze pagina</span>
            </p>

            <a class="nav-link fs-3 btn btn-dark me-0" style="padding-left: 0px !important; margin-top: 0px !important;" sec:authorize="isAuthenticated()" th:classappend="|${currentUser.hasUnseenNotifications ? 'btn btn-pma rounded-circle border-3' : ''}|" th:href="@{/user/notifications}">🔔</a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarMenu"
                    aria-controls="navbarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
                <p class="ms-1 me-3 my-3 text-nowrap welcome d-sm-inline d-md-none">
                    Welkom <span th:if="${currentUser != null}" th:text="|terug ${currentUser.name}|"></span>
                </p>
                <ul class="navbar-nav gap-md-2 mb-2 mb-md-0 text-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentUrl=='/home'||currentUrl=='/'?'active':''}" th:href="@{/}">🏠Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-start" th:classappend="${currentUrl=='/user/signup'?'active':''}" th:href="@{/user/signup}">🧾Inschrijven</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link border-start" th:classappend="${currentUrl=='/user/profile'?'active':''}" th:href="@{/user/profile}">👤Mijn Profiel</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:classappend="${currentUrl=='/about'?'active':''}" href="#">ℹ️Over ons</a>-->
<!--                    </li>-->

                    <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link dropdown-toggle border-start" th:classappend="${currentUrl.startsWith('/admin/')?'active':''}"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ⚙️Admin options
                        </a>
                        <ul class="dropdown-menu bg-black ">
                            <li><a class="dropdown-item text-white" th:classappend="${currentUrl=='/admin/plan'?'active':''}" th:href="@{/admin/plan}">Komende padeldag</a></li>
                            <li><a class="dropdown-item text-white" th:classappend="${currentUrl=='/admin/players'?'active':''}" th:href="@{/admin/players}">Spelers/register</a></li>
                            <li><a class="dropdown-item text-white" th:classappend="${currentUrl=='/admin/fields'?'active':''}" th:href="@{/admin/fields}">Velden</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mt-1 mt-md-0 mt-lg-1 login">
                        <a sec:authorize="!isAuthenticated()" th:class="|btn btn-pma|" th:href="@{/login}">login</a>
                    </li>
                    <li class="nav-item mt-1 mt-md-0 mt-lg-1 logout">
                        <a sec:authorize="isAuthenticated()" th:class="|btn btn-pma|" th:href="@{/logout}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer">
    <div class="container text-center">
        <p class="mb-0">&copy; <span th:text="${#dates.year(#dates.createNow())}"></span> ANT_Padelplanning_Team2</p>
    </div>
</footer>