<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::headfragment}"></head>
<body>
<header th:replace="~{fragments/headerfooter::navbar}"></header>

<main sec:authorize="isAuthenticated()">
    <div th:if="${padelDay != null and !padelDay.matches.isEmpty()}">
        <h1 class="text-center my-5">Overzicht eerst volgende speelmomenten</h1>
        <div th:replace="~{fragments/plantable::plantablefragment}"></div>
    </div>
    <div class="fs-2 p-3 text-center text-white bg-dark m-5 rounded home-message"
         th:if="${padelDay == null or padelDay.matches.isEmpty()}">
        Er is nog geen planning voor de komende padeldag<span sec:authorize="hasAuthority('USER')">, kom later terug of kijk bij de <a
            class="text-decoration-none" th:href="@{/user/padeldays}">Inschrijven</a> pagina.</span>
    </div>
</main>
<main sec:authorize="!isAuthenticated()">
    <h1 class="text-center mt-5">Welkom!</h1>
    <div class="fs-2 p-2 text-center text-white bg-dark m-5 rounded home-message w-50 mx-auto">
        <div>
            <a class="text-decoration-none" th:href="@{/login}">Log in</a> of <a class="text-decoration-none"
                                                                                 th:href="@{/register}">registreer</a> u
            om de planning van de volgende padeldag te bekijken.
        </div>
    </div>
</main>
<footer th:replace="~{fragments/headerfooter::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>